In [21]:
import tabula
import os

In [22]:
# Get the list of all files and directories
inpath = r"..\Rawdata"
indir_list = os.listdir(inpath)
indir_list[0]
infile= os.path.join(inpath, indir_list[0])
infile[:-4]

'..\\Rawdata\\Robin_27_5_2014'

In [23]:
# Get the list of all files and directories
outpath = r"..\Output"
outfile= os.path.join(outpath, indir_list[0])
outfile[:-4]

'..\\Output\\Robin_27_5_2014'

In [24]:
inpdf = infile[:-4]+".pdf"
inpdf

'..\\Rawdata\\Robin_27_5_2014.pdf'

In [25]:
outcsv = outfile[:-4]+".csv"
outcsv

'..\\Output\\Robin_27_5_2014.csv'

In [26]:
# Read pdf into list of DataFrame
dfs = tabula.read_pdf(infile, pages='all')

In [27]:
dfs

[                 Date                  Details     Debit(-)    Credit(+)  \
 0   20 September 2023  (Opening Balance: 0.00)          NaN          NaN
 1              20 Sep            pending hisab          NaN     3,278.00
 2              20 Sep                     GpAy    27,000.00          NaN
 3              22 Sep                      NaN     2,000.00          NaN
 4              27 Sep                    ICICI          NaN    21,298.00
 5              27 Sep                 Yes band          NaN    16,044.00
 6              27 Sep                      NaN          NaN    46,000.00
 7              27 Sep                      NaN          NaN    70,000.00
 8              27 Sep                      NaN          NaN    96,000.00
 9              27 Sep                      NaN          NaN  1,35,000.00
 10    September Total                29,000.00  3,87,620.00          NaN

             Balance
 0               NaN
 1      3,278.00  Cr
 2     23,722.00  Dr
 3     25,722.00  Dr
 4      4,424.00  Dr
 5     11,620.00  Cr
 6     57,620.00  Cr
 7   1,27,620.00  Cr
 8   2,23,620.00  Cr
 9   3,58,620.00  Cr
 10              NaN  ,
    03 Oct  SBI Unnamed: 0  13,500.00  3,72,120.00  Cr
 0  05 Oct  NaN  22,000.00        NaN  3,50,120.00  Cr,
       Date           Details   Debit(-)    Credit(+)           Balance
 0   07 Oct               sbi        NaN    45,749.00   3,95,869.00  Cr
 1   07 Oct               sbi        NaN    45,749.00   4,41,618.00  Cr
 2   07 Oct              icic        NaN    53,147.00   4,94,765.00  Cr
 3   07 Oct               SBI        NaN    45,749.00   5,40,514.00  Cr
 4   07 Oct              HDFC        NaN    19,999.00   5,60,513.00  Cr
 5   08 Oct               SBI  13,000.00          NaN   5,47,513.00  Cr
 6   08 Oct               NaN   7,000.00          NaN   5,40,513.00  Cr
 7   08 Oct               sbi        NaN    17,499.00   5,58,012.00  Cr
 8   08 Oct               SBI        NaN    17,499.00   5,75,511.00  Cr
 9   08 Oct               sbi        NaN    11,749.00   5,87,260.00  Cr
 10  08 Oct               NaN  54,000.00          NaN   5,33,260.00  Cr
 11  08 Oct             ICICI  10,349.00          NaN   5,22,911.00  Cr
 12  08 Oct              icic        NaN    10,349.00   5,33,260.00  Cr
 13  10 Oct  payment received        NaN  4,50,000.00   9,83,260.00  Cr
 14  11 Oct    sir Puri fiyar  10,000.00          NaN   9,73,260.00  Cr
 15  13 Oct              axis        NaN    55,897.00  10,29,157.00  Cr
 16  13 Oct              HDFC        NaN    17,999.00  10,47,156.00  Cr
 17  18 Oct              HDFC        NaN    15,499.00  10,62,655.00  Cr
 18  20 Oct               NaN  60,000.00          NaN  10,02,655.00  Cr
 19  21 Oct             ICICI        NaN    55,147.00  10,57,802.00  Cr,
              Date      Details      Debit(-)  Credit(+)           Balance
 0          25 Oct        g pay     20,000.00        NaN  10,37,802.00  Cr
 1          25 Oct         cash     10,500.00        NaN  10,27,302.00  Cr
 2          28 Oct         IDFC   1,20,000.00        NaN   9,07,302.00  Cr
 3          30 Oct     one Card           NaN  67,902.00   9,75,204.00  Cr
 4          30 Oct         icic           NaN  54,000.00  10,29,204.00  Cr
 5          30 Oct         inds           NaN  75,000.00  11,04,204.00  Cr
 6          31 Oct  redmi 12 5g     11,000.00        NaN  10,93,204.00  Cr
 7          31 Oct          air     10,000.00        NaN  10,83,204.00  Cr
 8          31 Oct          NaN      2,300.00        NaN  10,80,904.00  Cr
 9          31 Oct          one           NaN  18,998.00  10,99,902.00  Cr
 10         31 Oct          one           NaN  25,998.00  11,25,900.00  Cr
 11  October Total  3,50,149.00  11,17,429.00        NaN               NaN
 12   ovember 2023          NaN           NaN        NaN               NaN
 13         01 Nov          NaN   1,23,000.00        NaN  10,02,900.00  Cr
 14         01 Nov          SBI           NaN  51,647.00  10,54,547.00  Cr
 15         01 Nov          SBI           NaN  51,647.00  11,06,194.00  Cr
 16         01 Nov          SBI           NaN  51,647.00  11,57,841.00  Cr
 17         01 Nov     one Card           NaN  90,000.00  12,47,841.00  Cr
 18         03 Nov         IDFC     47,000.00        NaN  12,00,841.00  Cr
 19         03 Nov         icic           NaN  47,619.00  12,48,460.00  Cr,
    Unnamed: 0 Details     Debit(-)  Credit(+)           Balance
 0      04 Nov      au          NaN  99,617.00  13,48,077.00  Cr
 1      07 Nov     old          NaN  21,499.00  13,69,576.00  Cr
 2      07 Nov     old          NaN  12,499.00  13,82,075.00  Cr
 3      07 Nov     NaN          NaN   7,829.00  13,89,904.00  Cr
 4      07 Nov     NaN          NaN   7,829.00  13,97,733.00  Cr
 5      07 Nov     gst     1,328.00        NaN  13,96,405.00  Cr
 6      08 Nov    IDFC    45,000.00        NaN  13,51,405.00  Cr
 7      09 Nov     NaN          NaN  11,091.00  13,62,496.00  Cr
 8      10 Nov    Axis          NaN   4,500.00  13,66,996.00  Cr
 9      13 Nov    cash  1,00,000.00        NaN  12,66,996.00  Cr
 10     13 Nov    HDFC          NaN  17,999.00  12,84,995.00  Cr
 11     13 Nov   ICICI     5,130.00        NaN  12,79,865.00  Cr
 12     13 Nov   ICICI          NaN   5,130.00  12,84,995.00  Cr
 13     15 Nov    IDFC  1,50,000.00        NaN  11,34,995.00  Cr
 14     15 Nov    HDFC          NaN  19,999.00  11,54,994.00  Cr
 15     24 Nov    asix          NaN  14,999.00  11,69,993.00  Cr
 16     24 Nov    asix          NaN   7,999.00  11,77,992.00  Cr
 17     30 Nov    cash  1,00,000.00        NaN  10,77,992.00  Cr
 18     30 Nov    IDFC  1,60,000.00        NaN   9,17,992.00  Cr
 19     30 Nov     NaN          NaN  99,882.00  10,17,874.00  Cr,
      Date Details  Unnamed: 0     Debit(-)    Credit(+)  Balance
 0  November Total         NaN  7,31,458.00  6,23,432.00      NaN,
                   02 Dec  Unnamed: 0  1,00,000.00 Unnamed: 1  9,17,874.00  Cr
 0   03 Dec IDFC transfer         NaN  2,50,000.00        NaN  6,67,874.00  Cr
 1                 08 Dec         NaN  3,00,000.00        NaN  3,67,874.00  Cr
 2           16 Dec ICICI         NaN          NaN   9,999.00  3,77,873.00  Cr
 3   18 Dec idfc transfer         NaN    50,000.00        NaN  3,27,873.00  Cr
 4                 21 Dec         NaN    10,000.00        NaN  3,17,873.00  Cr
 5                 22 Dec         NaN  1,00,000.00        NaN  2,17,873.00  Cr
 6           22 Dec ICICI         NaN          NaN  12,499.00  2,30,372.00  Cr
 7    26 Dec IDFC trasfer         NaN  1,00,000.00        NaN  1,30,372.00  Cr
 8           27 Dec ICICI         NaN          NaN  11,998.00  1,42,370.00  Cr
 9            27 Dec HDFC         NaN          NaN  22,999.00  1,65,369.00  Cr
 10           30 Dec icic         NaN          NaN  10,999.00  1,76,368.00  Cr
 11        December Total         NaN  9,10,000.00  68,494.00              NaN,
    02 Jan Unnamed: 0  49,000.00 Unnamed: 1  1,27,368.00  Cr
 0  04 Jan        NaN  95,000.00        NaN    32,368.00  Cr
 1  14 Jan      ICICI        NaN  37,498.00    69,866.00  Cr
 2  15 Jan        NaN        NaN  64,147.00  1,34,013.00  Cr,
                Date                                    Details     Debit(-)  \
 0            17 Jan                                       HDFC          NaN
 1            18 Jan                                       HDFC          NaN
 2            29 Jan                                        gya    50,000.00
 3            30 Jan                                        SBI          NaN
 4            30 Jan                                        SBI          NaN
 5     January Total                                1,94,000.00  1,31,642.00
 6     ebrurary 2024                                        NaN          NaN
 7            04 Feb                                       icic          NaN
 8            07 Feb                                        NaN    18,000.00
 9            13 Feb          hdfc cashback panding 90days 1000          NaN
 10           18 Feb                                      ICICI          NaN
 11           23 Feb                                      ICICI          NaN
 12           23 Feb  ICICI 90 cashback panding 90days received          NaN
 13  Februrary Total                                  18,000.00  2,61,153.00
 14        arch 2024                                        NaN          NaN
 15           03 Mar                                      ICICI          NaN
 16           03 Mar                                     Shivam    90,000.00
 17           03 Mar                                        NaN    99,000.00
 18           06 Mar                                      ICICI          NaN
 19           06 Mar                                      ICICI          NaN

       Credit(+)          Balance
 0     10,998.00  1,45,011.00  Cr
 1      9,999.00  1,55,010.00  Cr
 2           NaN  1,05,010.00  Cr
 3      4,500.00  1,09,510.00  Cr
 4      4,500.00  1,14,010.00  Cr
 5           NaN              NaN
 6           NaN              NaN
 7   1,45,658.00  2,59,668.00  Cr
 8           NaN  2,41,668.00  Cr
 9     14,999.00  2,56,667.00  Cr
 10    45,499.00  3,02,166.00  Cr
 11    41,998.00  3,44,164.00  Cr
 12    12,999.00  3,57,163.00  Cr
 13          NaN              NaN
 14          NaN              NaN
 15    24,000.00  3,81,163.00  Cr
 16          NaN  2,91,163.00  Cr
 17          NaN  1,92,163.00  Cr
 18    21,499.00  2,13,662.00  Cr
 19    21,499.00  2,35,161.00  Cr  ,
            Date                                            Details  \
 0        11 Mar                                              ICICI
 1        12 Mar                                              ICICI
 2        13 Mar                                                NaN
 3        15 Mar                                       rahul ka aya
 4        15 Mar                                                NaN
 5        17 Mar                                              ICICI
 6        19 Mar  rahul ICICI 1000 4003 cashback panding\r90days...
 7        19 Mar                                              ICICI
 8        20 Mar                                               icic
 9        22 Mar                                                NaN
 10       22 Mar                                               HDFC
 11       26 Mar                                                NaN
 12       28 Mar                                                NaN
 13  March Total                                        6,06,500.00
 14    pril 2024                                                NaN
 15       03 Apr                                           inderson
 16       03 Apr                                           inderson
 17       07 Apr                                              ICICI
 18       08 Apr                                              ICICI

        Debit(-)    Credit(+)          Balance
 0           NaN    29,999.00  2,65,160.00  Cr
 1           NaN    23,999.00  2,89,159.00  Cr
 2   1,00,000.00          NaN  1,89,159.00  Cr
 3           NaN  1,86,000.00  3,75,159.00  Cr
 4   2,19,000.00          NaN  1,56,159.00  Cr
 5           NaN    16,999.00  1,73,158.00  Cr
 6           NaN    10,999.00  1,84,157.00  Cr
 7           NaN     4,500.00  1,88,657.00  Cr
 8           NaN     4,500.00  1,93,157.00  Cr
 9     28,500.00          NaN  1,64,657.00  Cr
 10          NaN    10,499.00  1,75,156.00  Cr
 11    50,000.00          NaN  1,25,156.00  Cr
 12    20,000.00          NaN  1,05,156.00  Cr
 13  3,54,493.00          NaN              NaN
 14          NaN          NaN              NaN
 15          NaN    10,999.00  1,16,155.00  Cr
 16          NaN     5,499.00  1,21,654.00  Cr
 17          NaN    12,898.00  1,34,552.00  Cr
 18          NaN    35,499.00  1,70,051.00  Cr  ,
      Unnamed: 0                                            Details  \
 0        13 Apr                                              ICICI
 1        13 Apr                                              ICICI
 2        15 Apr                                              ICICI
 3        15 Apr                                              ICICI
 4        15 Apr                                               City
 5        15 Apr                                                 au
 6        18 Apr                                                NaN
 7        18 Apr                                               City
 8        20 Apr                                                NaN
 9        21 Apr                                                SBI
 10       21 Apr  HDFC rahul 1502 1000 cashback panding\r90days ...
 11       24 Apr                                      IDFC transfer
 12       25 Apr                                                sbi
 13       30 Apr  rahul 4003 1000 cashback panding 90days\rrecei...
 14       30 Apr                                               City
 15  April Total                                        1,18,000.00

        Debit(-)  Credit(+)          Balance
 0           NaN  17,665.00  1,87,716.00  Cr
 1           NaN  17,665.00  2,05,381.00  Cr
 2           NaN  17,665.00  2,23,046.00  Cr
 3           NaN  17,665.00  2,40,711.00  Cr
 4           NaN  27,497.00  2,68,208.00  Cr
 5           NaN  34,018.00  3,02,226.00  Cr
 6     48,000.00        NaN  2,54,226.00  Cr
 7           NaN  11,398.00  2,65,624.00  Cr
 8     60,000.00        NaN  2,05,624.00  Cr
 9           NaN  10,499.00  2,16,123.00  Cr
 10          NaN  10,499.00  2,26,622.00  Cr
 11    10,000.00        NaN  2,16,622.00  Cr
 12          NaN  10,999.00  2,27,621.00  Cr
 13          NaN  10,999.00  2,38,620.00  Cr
 14          NaN  17,998.00  2,56,618.00  Cr
 15  2,69,462.00        NaN              NaN  ,
    02 May  ICICI Unnamed: 0  46,499.00  3,03,117.00  Cr
 0  02 May    NaN  25,000.00        NaN  2,78,117.00  Cr,
    Unnamed: 0                                      Details     Debit(-)  \
 0      02 May                                          NaN    63,000.00
 1      02 May                                          SBI          NaN
 2      02 May                                          SBI          NaN
 3      02 May                                          SBI          NaN
 4      02 May                                          SBI          NaN
 5      02 May                             account transfer  1,50,000.00
 6      02 May                                         icic          NaN
 7      03 May                                axis Flipkart          NaN
 8      03 May  cash back 1000 Flipkart axis ho ga received     1,000.00
 9      03 May                                axis Flipkart          NaN
 10     03 May                 axis Flipkart received ho ga       600.00
 11     04 May                                        ICICI          NaN
 12     04 May                                        ICICI          NaN
 13     05 May                                         icic          NaN
 14     05 May                                        ICICI          NaN
 15     06 May                                          NaN    50,000.00
 16     06 May                                          SBI          NaN
 17     07 May                                         icic          NaN
 18     07 May                                         icic          NaN
 19     07 May                                          one          NaN

     Credit(+)          Balance
 0         NaN  2,15,117.00  Cr
 1    4,500.00  2,19,617.00  Cr
 2    4,500.00  2,24,117.00  Cr
 3   10,999.00  2,35,116.00  Cr
 4   10,999.00  2,46,115.00  Cr
 5         NaN    96,115.00  Cr
 6   46,499.00  1,42,614.00  Cr
 7   20,107.00  1,62,721.00  Cr
 8         NaN  1,61,721.00  Cr
 9   11,097.00  1,72,818.00  Cr
 10        NaN  1,72,218.00  Cr
 11  29,999.00  2,02,217.00  Cr
 12  15,499.00  2,17,716.00  Cr
 13  30,167.00  2,47,883.00  Cr
 14  14,084.00  2,61,967.00  Cr
 15        NaN  2,11,967.00  Cr
 16  25,548.00  2,37,515.00  Cr
 17  47,900.00  2,85,415.00  Cr
 18  47,900.00  3,33,315.00  Cr
 19  51,431.00  3,84,746.00  Cr  ,
          Date                                            Details     Debit(-)  \
 0      07 May                                           one Card          NaN
 1      07 May                                            trasfer  1,00,000.00
 2      08 May                                               one'          NaN
 3      08 May                                                one          NaN
 4      08 May                                               cash  1,50,000.00
 5      08 May     IndusInd card cash back 1500 90 days\rreceived          NaN
 6      08 May                                      cash back ind     1,500.00
 7      09 May                                                one          NaN
 8      09 May                     one card EMI for closer charge          NaN
 9      11 May                                                NaN    58,000.00
 10     16 May                                      ICICI 44882*3          NaN
 11     19 May                                                NaN    87,219.00
 12     19 May                                                NaN    97,000.00
 13     21 May  HDFC 900 cashback panding 90days\rreceived thi...          NaN
 14     21 May                                   cash back 90days       900.00
 15     25 May                                               HDFC          NaN
 16     25 May                                          HDFC cash     1,434.00
 17     26 May                                                one          NaN
 18  May Total                                        7,85,653.00  8,02,395.00

       Credit(+)          Balance
 0     51,431.00  4,36,177.00  Cr
 1           NaN  3,36,177.00  Cr
 2     51,432.00  3,87,609.00  Cr
 3     51,432.00  4,39,041.00  Cr
 4           NaN  2,89,041.00  Cr
 5     16,999.00  3,06,040.00  Cr
 6           NaN  3,04,540.00  Cr
 7     14,000.00  3,18,540.00  Cr
 8      2,831.00  3,21,371.00  Cr
 9           NaN  2,63,371.00  Cr
 10  1,34,646.00  3,98,017.00  Cr
 11          NaN  3,10,798.00  Cr
 12          NaN  2,13,798.00  Cr
 13    11,098.00  2,24,896.00  Cr
 14          NaN  2,23,996.00  Cr
 15    33,798.00  2,57,794.00  Cr
 16          NaN  2,56,360.00  Cr
 17    17,000.00  2,73,360.00  Cr
 18          NaN              NaN  ,
   Date Details  Unnamed: 0      Debit(-)     Credit(+)          Balance
 0  Grand Total         NaN  37,42,760.00  40,16,120.00  2,73,360.00  Cr]

In [28]:
# convert PDF into CSV file
tabula.convert_into(inpdf, outcsv, output_format="csv", pages='all')